<style>
    .zoom:hover {
       
        transform: scale(1.1);
    }
</style>
    
<div class="container">
        <span style="margin-left:96%; margin-top:2rem; font-size:20px" class="glyphicon glyphicon-lock" data-toggle="modal" data-target="#logout"></span>

        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteLongTitle">Delete Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Would you like to logout?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Login", "Login")'">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:50px">

            <div class="col-md-5">
                <div>
                    <img style="width:70%; height:70%; margin-right:58%; margin-top:3rem" src="~/Pictures/Logo2.jpeg" />
                </div>
            </div>

            <div class="text-center col-md-2" style="margin-top:2rem">



            </div>

            <div class="col-md-5">
                
                <i class="glyphicon glyphicon-user" style="font-size:100px; margin-bottom:1rem;"></i>
                <div style="float:left;margin-top:4rem;margin-left:20rem; margin-right:2rem;">
                    <h4> Welcome</h4>
                    <h5>Vrajesh Patel</h5>
                </div>
            </div>

        </div>

        <div class="center" id="xx" style="width:100%; text-align:center" ;>
            <h4 style="color:purple">Select a category of work you are looking for:</h4><br /><br />
        </div>

        <div class="row" style="padding-top:2rem">
            <div class="col-md-4">
                <div class="text-center">
                    <button  class="btn btn-lg zoom"  onclick="location.href='@Url.Action("PotentialFreelancer", "Employer")'" 
                            style="width:300px;height:180px;background-image: url(/Pictures/plumber.png); background-repeat:no-repeat;
                            background-size:50%; background-size:cover;color:white;font-size:20px;transition: transform 0.8s; border-radius:14px ">Plumber</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-center">
                    <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("PotentialFreelancer", "Employer")'" 
                            style="width:300px;height:180px ;background-image: url(/Pictures/land.jpg); background-repeat:no-repeat; 
                                        background-size:50%; background-size:cover;color:white;font-size:20px;transition: transform 0.8s; border-radius:14px">Landscaping</button>
                </div>

            </div>

            <div class="col-md-4">
                <div class="text-center">
                    <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("PotentialFreelancer", "Employer")'" 
                            style="width:300px;height:180px;background-image: url(/Pictures/photo2.jpg); background-repeat:no-repeat; 
                              background-size:50%; background-size:cover;color:white;font-size:20px;transition: transform 0.8s; border-radius:14px ">Photographer</button>
                </div>

            </div>
        </div>

        <div class="row" style="padding-top:4rem">
            <div class="col-md-4">
                <div class="text-center">
                    <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("PotentialFreelancer", "Employer")'" 
                            style="width:300px;height:180px;background-image: url(/Pictures/elec.jpg); background-repeat:no-repeat;
                           background-size:50%; background-size:cover;color:white;font-size:20px;transition: transform 0.8s; border-radius:14px ">Electrician</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-center">
                    <button class="btn btn-lg zoom" onclick="location.href = '@Url.Action("PotentialFreelancer", "Employer")'
                   " style="width:300px;height:180px;background-image: url(/Pictures/paint.jpg); background-repeat:no-repeat; 
                    background-size:50%; background-size:cover;color:white;font-size:20px;transition: transform 0.8s; border-radius:14px">Painting</button>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="text-center">
                    <button class="btn btn-lg zoom" onclick="location.href='@Url.Action("PotentialFreelancer", "Employer")'" 
                            style="        width: 300px;
        height: 180px;
        background-image: url(/Pictures/graphic.jpg);
        background-size: cover;
        color: white;
        font-size: 20px;
        transition: transform 0.8s;
        border-radius: 12px
">Graphic Designer</button>
                </div>

            </div>
        </div>



       
    </div>
    <button class="btn btn-warning" style="float:right; margin-top:20px; margin-right:10px; background-color:purple;" onclick="location.href='@Url.Action("PastBookings", "Employer")'">Previous Bookings</button>

@*<div class="container">
    <div class="row" >     
            <div class="col-md-6">
                <div class="column btn-block">
                    <a class="btn btn-primary btn-block" href="@Url.Action("PotentialFreelancer", "Employer")" style="width:73%; height:48%" ;>Plumber</a><br /><br /><br />
                </div>
                <div class="col-md-6" >
                    <a class="btn btn-primary btn-block" href="@Url.Action("PotentialFreelancer", "Employer")" style="width:73%; height:48%">Electrician</a><br /><br /><br />
                </div>
             
     </div>


  

     </div>
</div>*@

