
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">






<div class="text-center">
    <img style="width:30%; height:30%;margin-right:6rem" src="~/Pictures/Logo2.jpeg" />
</div>
<div class="center" style="width:100%; text-align:center;">
    <h3 style="color:purple">Take your pick! Here are South Africa's </h3>
    <h3 style="color:purple">plumbers <!--Model.Job-->:</h3>

</div>


<!--foreach (var Freelancer in Model.Users) -->
<table class="table  table-hover table-responsive"
       style="margin-left: auto; margin-right: auto;">
    <tr>
        <td><i class="fa fa-user" style="font-size:68px"></i></td>
        <td>Thenji <!--Model.FullName--></td>
        <td>Melrose, Gauteng <!--Model.Venue--></td>
        <td><span style='font-size:40px; color:#999999'>&#9733;</span><span style='font-size:40px; color:#999999'>&#9733;</span><span style='font-size:40px; color:#999999'>&#9733;</span></td>
        <td><a class="btn btn-primary" id="btnViewProfile" href="@Url.Action("Profiles", "Employer")"><!--href="Url.Action("ViewProfile", new {ID = profile.ID})" value="View" class="viewButton"-->View Profile</a></td>
    </tr>

    <tr>
        <td><i class="fa fa-user" style="font-size:68px"></i></td>
        <td>Kudzai <!--Model.FullName--></td>
        <td>Melrose, Gauteng <!--Model.Venue--></td>
        <td><span style='font-size:40px; color:#999999'>&#9733;</span></td>
        <td><a class="btn btn-primary" id="btnViewProfile" href="@Url.Action("Profiles", "Employer")"><!--href="Url.Action("ViewProfile", new {ID = profile.ID})" value="View" class="viewButton"-->View Profile</a></td>
    </tr>

    <tr>
        <td><i class="fa fa-user" style="font-size:68px"></i></td>
        <td>Pat <!--Model.FullName--></td>
        <td>Melrose, Gauteng <!--Model.Venue--></td>
        <td><span style='font-size:40px; color:#999999'>&#9733;</span><span style='font-size:40px; color:#999999'>&#9733;</span></td>
        <td><a class="btn btn-primary" id="btnViewProfile" href="@Url.Action("Profiles", "Employer")"><!--href="Url.Action("ViewProfile", new {ID = profile.ID})" value="View" class="viewButton"-->View Profile</a></td>
    </tr>
    <tr>
        <td><i class="fa fa-user" style="font-size:68px"></i></td>
        <td>Thando <!--Model.FullName--></td>
        <td>Melrose, Gauteng <!--Model.Venue--></td>
        <td><span style='font-size:40px; color:#999999'>&#9733;</span><span style='font-size:40px; color:#999999'>&#9733;</span><span style='font-size:40px; color:#999999'>&#9733;</span><span style='font-size:40px; color:#999999'>&#9733;</span><span style='font-size:40px; color:#999999'>&#9733;</span></td>
        <td><a class="btn btn-primary" id="btnViewProfile" href="@Url.Action("Profiles", "Employer")"><!--href="Url.Action("ViewProfile", new {ID = profile.ID})" value="View" class="viewButton"-->View Profile</a></td>
    </tr>

</table>

<a class="btn btn-primary" id="bottom" style="float:right;" href="@Url.Action("Index", "Employer")">Go Back</a>



