 <<div class="navbar bg-primary navbar-expand-lg navbar-fixed-top">
    <div style="padding:4px">
        <a class="navbar-brand" href="#">
            <img src="~/Pictures/transparent.png" alt="logo" style="width:90px;">
        </a>
    </div>
    <div style="margin-top:0.2rem; margin-left:65%">
        <span class="navbar-text" style="padding-right:1rem">
            <label> Yahil Rathod:</label>
            <label>Plumber,</label>
            <label>Laudium, Gauteng</label>
        </span>
        <span> <i class="glyphicon glyphicon-user" style="font-size:35px;cursor:pointer "></i></span>
        <span style="padding-left:2rem;font-size:25px;cursor:pointer" class="glyphicon glyphicon-log-out" data-toggle="modal" data-target="#logout"></span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            
        </div>


        <div class="text-center col-md-2" style="margin-top:8rem;">
            <h1> Potential Clients</h1>

        </div>

        <div class="col-md-5">
           

        </div>

    </div>

    <div class="container" style="padding-bottom:2rem;padding-top:6rem">
        
        <table id="table" class="table  table-hover table-responsive"
               style="margin-left: auto; margin-right: auto;">
            <tr>
                <th>Name</th>
                <th>Business Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Profile</th>
                <th>Booking Request</th>
            </tr>


            <tr>
                <td>Mike</td>
                <td>N/A</td>
                <td>Mike@gmail.com </td>
                <td>01/02/2020 </td>
                <td><i class="glyphicon glyphicon-info-sign" style="font-size:20px;cursor:pointer"  onclick="window.location.href='@Url.Action("Employer_Profile", "Freelancer")'"></i></td>
                <td><span class="glyphicon glyphicon-envelope" data-toggle="modal" data-target="#booking"></span></p> </td>            
            </tr>
            <tr>
                <td>Jane</td>
                <td>Sasol</td>
                <td>jane@mweb.co.za </td>
                <td>06/03/2020 </td>
                <td><i class="glyphicon glyphicon-info-sign" style="font-size:20px;cursor:pointer" onclick="window.location.href='@Url.Action("Employer_Profile", "Freelancer")'"></i></td>
                <td><span class="glyphicon glyphicon-envelope" data-toggle="modal" data-target="#booking"></span></p> </td>
            </tr>
            <tr>
                <td>Nemo</td>
                <td>EY</td>
                <td>Nemo@mweb.co.za</td>
                <td>02/04/2020 </td>
                <td><i class="glyphicon glyphicon-info-sign" style="font-size:20px;cursor:pointer"  onclick="window.location.href='@Url.Action("Employer_Profile", "Freelancer")'"></i></td>
                <td><span class="glyphicon glyphicon-envelope" data-toggle="modal" data-target="#booking"></span></p> </td>
            </tr> 

        </table>

    </div>
    <div style="padding-bottom:9rem;padding-top:3rem">
        <div style="float:right;">
            <button style="width:100px" class="btn btn-primary " onclick="window.location.href='@Url.Action("User_Profile", "Freelancer")'">Go Back</button>
            <br />
            <div style="padding-top:1rem">
                <button class="btn btn-primary ">Print Report</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="logoutCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLongTitle">You have a Booking Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Mike Peterson</h6>
                Hi there, I need some plumbing help to fix pipes in my roof. Would you be able to assist? Probably Im free around 3pm on Monday the 16th if that is good with you
                Thanks.
               

            </div>
            <div class="modal-footer">

                <i>For more details and to reply to this booking request, please check your email. Thank you.  </i>
                <td><i class="glyphicon glyphicon-info-sign" style="font-size:20px;cursor:pointer" onclick="window.location.href='@Url.Action("Employer_Profile", "Freelancer")'"></i></td>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>

            </div>
        </div>
    </div>
</div>